:root{
    --maincolor:#AB7442;
}
body{
    background-image: url(../assets/img/login5.jpg);
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.user-input input{
    padding: 10px;
    margin: 5px;
    box-shadow: 5px 4px 5px;
    height: 60px;
    border: 0px;
    outline: none;
}
.user-input input::placeholder{
    font-size: 20px;
}
#consult-input input{
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    height: 40px;
}
#consult-input input:focus{
    border: 3px solid var(--maincolor);
}
.user-input{
    margin-left: 50px;
}
#user-loginPage{
    margin-top: 30px;
    margin-left: 30px;
}
#user-loginPage button{
    width: 30%;
    border-radius: 10px;
    background-color: var(--maincolor);
    font-size: 25px;
    margin-left: 60px;
    margin-top: 10px;
}
#user-loginPage a{
    padding-left: 60px;
    color: var(--maincolor);
}
.regist-link{
    font-size: 20px;
    padding-top: 10px;
}
/* -----------end user login------------------------ */

/*---------------- start user registeration -------------- */
.hero{
    margin-top: 50px;
    margin-left: 30px;
}
.regist button{
    width: 120px;
    height: 50px;
    background-color: var(--maincolor);
    font-size: 25px;
    font-weight: bold;
}
.log-link{
    font-size: 25px;
    padding-bottom: 10px;
}
/* ---------------- end user registeration --------------------- */

/* ---------------------- start expert login ----------------------- */
.expert-img img{
    width: 37%;
    height: 80vh;
    float: right;
    box-shadow: 20px 10px 10px 10px;
    border-radius: 10px;
}
#consult-input{
    text-align: center;
    font-size: 20px;
}
.log-expertlink{
    font-size: 25px;
    padding-bottom: 10px;
}
.regist2{
    margin-left: 50px;
    margin-top: 20px;
}
.regist2 button{
    /* width: 140px;
    height: 50px; */
    background-color: var(--maincolor);
    font-size: 25px;
    font-weight: bold;
}
.regist2 label{
    padding-left: 100px;
}
.cv-input{
    padding-bottom: 0px;
    border: 1px;
}