:root{
    --maincolor:#AB7442;
}
.nav-parent{
    position: fixed;
    z-index: 222;
    top: 0px;
    width: 100%;
}
.navbar0 .container-fluid{
    background-color: #F5F5F5;
    height: 55px;
}
.navbar0 .row{
    width: 100%;
    justify-content: space-between;
    padding-top: 10px;
}
.navbar0 .row i{
    color: var(--maincolor);
    margin-right: 5px;
}
#nav0-content{
    justify-content: space-around;
}
#nav0-content{
    margin-top: 6px;
}
#nav0-content2{
    justify-content: space-around;
}
#nav0-content2 p{
    margin-top: 6px;
}
#nav0-content2 .i i{
    background-color:white;
    padding: 8px;
    margin-top: 4px;
    margin-right: 0px !important;
    
}
@media(max-width:1130px){
    .navbar0 .container-fluid{
        display: none;
    }
    .nav-parent{
        width: 100%;
    }
}
/* _________End of Navbar0__________ */
.navbar {
    padding: 0px;
    padding-left: 15px;
    width: 100%;
}
.navbar-brand{
    color: var(--maincolor) !important;
    font-size: 35px;
    font-weight: 700;
}
.container-fluid{
    padding-right: 0px !important;
}
#navbarNavDropdown{
 justify-content: flex-end;
 font-weight: 400;
 font-size: 18px;
 text-transform: uppercase;
 color: black;
 transition: all 1s;
}
.nav-item .nav-link:hover{
    color: var(--maincolor) !important;
}
.dropdown-item:hover{
    background-color: var(--maincolor);
    color: white !important;
}
.nav-item{
    margin-top: 13px !important;
    margin-left: 30px;
}
#login{
    background-color: var(--maincolor);
    padding: 13px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 20px;
    height: 100%;
    margin-top: 0px !important;
}
#login a:hover{
    color: white !important;
}
#login .nav-link{
    color: white;
}
#login .nav-link i{
    padding-left: 5px;
}
@media(max-width:991px){
    .navbar{
        padding-left: 0px;
    }
    .navbar-toggler{
        margin-right: 10px;
    }
    .nav-item {
        margin-left: 0px;
        margin-bottom: 5px;
    }
    .nav-item:hover{
        border-bottom: 1px solid var(--maincolor);
    }
    .nav-item a{
        padding-left: 10px;
    }
    #creator{
        margin-top: 10px !important;
        padding: 3px;
    }
}
@media(max-width:750px){
    .navbar{
        padding: 5px;
    }
    .navbar-brand{
        font-size: 25px;
    }
}
/* ________End of Navbar_______ */
.modal-footer{
    width: 100%;
    text-align: center;
    justify-content: center;
}
.login-btn{
    background-color: var(--maincolor);
    color: #000;
    padding: 8px;
    width: 100%;
}
.login-btn:hover{
    background-color: #aa8058;
}
#done-modal{
    justify-content: center;
    text-align: center;
}
.modal-header h1{
    color: var(--maincolor);
}
form{
    justify-content: center;
    text-align: center;
}
form input{
    padding: 5px;
}
form input::placeholder{
    padding-left: 5px;
}
.fa-robot{
    font-size: 40px;
    margin: 5px;
    margin-bottom: 20px;
    color: var(--maincolor);
}
#done-modal i{
    font-size: 30px;
}
#consult-input input{
  width: 48%;
}
#consult-input label{
  width: 48%;
  padding-top: 10px;
}
@media(max-width:750px){
    .fa-robot{
        display: block;
    }
    #modal1-1 input{
        width: 90%;
    }
}
 /* end of login-modal */

.caption{
     margin: 140px 20px 0px 20px; 
     font-family: "Playwrite IT Moderna", serif;
    text-align: center;
    color: #AB7442;
    font-size: 25px;
    font-weight: bold;
}
.sec-1{
    margin-top: 50px;
}
#all-boxes{
    margin-left: 10px;
}
.ai-box{
    background-color: #aa8058;
    color: white;
    padding: 5px;
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border-radius: 15px;
}
.ai-box a{
    text-decoration: none;
    color: white;
}
.ai-box i{
    padding-right: 8px;
    padding: 15px 8px 15px 8px ;
    font-size: 70px;
}
.ai-box a:hover{
    color: black;
    transition: all 0.8s;
    font-size: 28px;
}
#row-1{
    margin-top: 20px;
}
#row-2{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 12px;
    align-items: center;
}

@media(max-width:750px){
    .caption{
        margin-top: 80px;
        font-size: 18px;
    }
    .ai-box{
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }
    #row-1{
        width: 100%;
    }
    #row-2{
        width: 100%;
        margin: auto;
    }
    .container{
        padding-right: 0px;
        padding-left: 0px;
    }
    #all-boxes{
        margin-left: 0px;
    }
}
/* end of AI Boxes */


.section10{
    background-color: rgb(34, 32, 32);
    color: white;
    padding-top: 50px;
    margin-top: 40px;
}

.section10 .d-lg-flex{
    width: 100%;
    justify-content: space-between;
}
.section10 .col-lg-2{
    width: 22%;
    padding-bottom: 30px;
}
.section10 .col-lg-2 h3{
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 20px;
}
.section10 #sec10-1 i{
    padding-right: 12px;
}
.section10  #first{
    justify-content: space-between;
    width: 75%;
}
.section10  #first i{
    border: 1px solid white;
    padding: 10px;
}
.section10  #first i:hover{
    background-color: white;
    color:#c47e3d;
}
.section10 #sec10-2 p:hover{
    color: var(--maincolor);
    transform: scale(1.1,1.1);
    transition: all 0.3s;
    padding-left: 10px;
}
.section10 #sec10-2 i{
    padding-right: 12px;
    font-size: 12px;
    font-weight: 900;
}
.section10 #second{
    width: 100%;
    height: 60px;
    padding: 8px;
    background-color: white;
}
.section10 #sec10-3{
    padding: 0px;
}
.section10 #second input{
    width: 65%;
    border: 0px;
    outline: 0px;
}
.section10 #second button{
    width: 35%;
    border: 0px;
    background-color: var(--maincolor);
    color: white;
    font-weight: 700;
}
.section10 #second button:hover{
    background-color: #916f50;
}
.section10 #third{
    padding-bottom: 10px;
    margin-bottom: 0px;
}
@media(max-width:991px){
    .section10 .col-lg-2{
        width: 70%;
        margin: auto;
    }
    .section10 #third{
        text-align: center;
        padding-bottom: 15px;
    }
}
/* _________End of section10________ */
/* ______End of home page___________ */